.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/

/api/**/vendor

/app/**/Components
/app/**/packages
/app/**/Resource.designer.cs
/app/**/bin
/app/**/obj
/app/**/*.pidb
/app/**/*.userprefs
/app/**/*.swp
/app/**/*.nib
/app/**/*.suo
/app/**/*.user
/app/**/*.pfx
/app/**/*_ReSharper.*/